<div class="col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
	<div class="card">
		<img src={{imageUrl}} class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">{{name}}</h5>
			<p>by {{user.username}}</p>
			<p class="card-text">This Deck is the best one so ... ya.</p>
			<a href="/build/{{id}}" class="btn btn-primary">Edit Deck</a>
		</div>
	</div>
</div>