<div class="col-md-3 mb-4">
	<div class="card">
		<img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">{{name}}</h5>
			<p>by {{user.username}}</p>
			<p class="card-text">This Deck is the best one so ... ya.</p>
			<a href="/build/{{id}}" class="btn btn-primary">Edit Deck</a>
		</div>
	</div>
</div>