<section>
	<div class="d-flex justify-content-center text-success mt-2">
		<a href='/build/new' class='btn btn-primary'>Make a New Deck</a>
	</div>
	<div class="d-flex justify-content-center text-success">
		<h2 class='bg-light mt-2 p-2 border rounded border-dark'>Your Decks</h3>
	</div>
{{#if data.decks.length}}
	<div class="container">
		<div class="row">
    {{#each data.decks as |deck|}}
      {{> deck-info-build deck}}
    {{/each}}
		</div>
	</div>
{{else}}
	<p>You have no decks.</p>
{{/if}}
</section>