<section>
  <h2>Your Decks</h2>
	<h3>Your name is {{data.username}}</h3>
{{#if data.decks.length}}
  <ol>
    {{#each data.decks as |deck|}}
    <li>
      {{> deck-info deck}}
    </li>
    {{/each}}
  </ol>
{{else}}
	<p>You have no decks.</p>
{{/if}}
</section>