<form id="signup-form" class='w-25 p-2' style='background-color: #eee; min-width: 400px;'>
  <div class='form-group'>
    <label for="username-signup">username</label>
    <input type="text" id="username-signup" class='form-control' />
  </div>
  <div class='form-group'>
    <label for="email-signup">email</label>
    <input type="text" id="email-signup" class='form-control' />
  </div>
  <div class='form-group'>
    <label for="password-signup">password</label>
    <input type="password" id="password-signup" class='form-control' />
  </div>
  <div>
    <button type="submit" class='btn btn-primary mt-2'>register</button>
  </div>
</form>

<script src="/js/register.js"></script>