@import '~mdb-ui-kit/css/mdb.min.css';

body {
  background-color: black !important;
  background-image: url('/images/background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#navbarNav {
  justify-content: space-between;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

#deck-builder-view {
	display: flex;
}

#card-view {
	flex-grow: 5;
}

#card-view {
	display: flex;
	flex-wrap: wrap;
}

#deck-view {
	flex-grow: 1;
	flex-basis: fit-content;
}

p small {
	font-size: 12px;
}